[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mmmgee"]
	path = mmmgee
	url = https://github.com/cran/mmmgee
[submodule "multfisher"]
	path = multfisher
	url = https://github.com/cran/multfisher
[submodule "nph"]
	path = nph
	url = https://github.com/cran/nph
